.clients {
  padding: 6rem 0;
  background-color: var(--off-white);

  .header {
    margin-bottom: 5rem;
    text-align: center;
  }

  .title {
    font-weight: v('normal');
    opacity: v('faded');
  }

  .header,
  .content {
    flex: 1;
  }

  .rows {
    padding: 2em 0;
    display: flex;
    overflow: hidden;
    position: relative;
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, #000 15%, #000 85%, rgba(0, 0, 0, 0) 100%);
    grid-column: standard;

    .firstRow,
    .secondRow {
      display: flex;
      align-items: center;
      justify-content: center;

      animation: sl 90s linear infinite;

      @include media('<=tabletWide') {
        display: grid;
        gap: 5rem;

        grid-template-columns: repeat(4, 1fr);
      }

      @include media('<=tablet') {
        grid-template-columns: repeat(3, 1fr);
      }

      @include media('<=phoneLandscape') {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media('<=phone') {
        gap: 3rem;
      }
    }
    .secondRow {
      animation-direction: reverse;
    }
  }

  @keyframes sl {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }
}

.logo {
  height: rem(48px);
  max-width: rem(144px);
  margin: 0 rem(24px);

  @include media('<=phone') {
    height: rem(38px);
    max-width: rem(90px);
  }
}

.pagination {
  bottom: -5px !important;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
